<h1> Welcome to Docket Socket </h1>

This tool automates downloading documents from the Regulations.gov docket that you specify.  It will email you a link to a ZIP file containing the requested documents and an audit trail.  Downloading large dockets may take a few hours.

<form  name = "Docket_Number" method = "post">
  {% csrf_token %}

{% for field in form %}
    <div class="fieldWrapper">
         {{ field.label_tag }} {{ field }}<P>
    </div>
{% endfor %}

<!--  {{ form }}-->

  <input type="submit" onclick="return confirm('Please confirm the email address and docket number. If you click OK, we will email you the results when ready. Click cancel to edit your choices. Feel free to close this browser after you click OK. This site will not advance to the landing page until download is complete which could take several hours. Email Robert Letzler, LetzlerR@GAO.gov, with questions.')" />
</form>

<hr>
This tool built by Andrew Banister, Chris Warweg, Paul Mack, and <A HREF="mailto:letzlerr@gao.gov">Rob Letzler</A>, US GAO
